@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&family=Raleway:wght@400;500;600&display=swap');

:root {
  --blue-bg: #070c29;
  --blue-grey: #bebdd4;
  --blue-light: #c3d3dd;
  --blue-med: #7f97c7;
  --blue-dark: #3e4e82;
}


body,
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #fff;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--blue-bg);
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
h2 {
  font-family: "Raleway", sans-serif;
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 72px;
  color: #fff;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}
h4 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
h5 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  line-height: 32px;
  margin: 30px 0;
  font-size: 20px;
  color: var(--blue-grey);
}

a {
  color: #fff;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
  color: #fff;
}
hr {
  height: 2px;
  width: 100%;
  text-align: center;
  background: var(--blue-grey);
  opacity: 0.17;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue-light);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-dark);
  border-radius: 4px;
  width: 3px;
  margin: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-med);
}
/* Navigation */

#nav {
  padding: 15px;
  transition: all 0.8s;
}

.site-nav__container {
  margin-top: 0;
}

.site-nav, .site-nav__active {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: background-color 0.5s linear;
  padding: 0px;
}

.site-nav__active {
  /*background-color: rgb(10, 10, 10);*/
  backdrop-filter: blur(5px);
  transition: background-color 0.5s ease-out;
}
 
.site-nav__logo {
  max-width: 50%;
  height: auto;
}

.site-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 18px;
}

.site-nav__items > li > a {
  transition: 0.6s all;
}
.site-nav__items > li > a:hover {
  color: var(--blue-med);
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.site-nav__collapse {
  border-style: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #6148ff, #edb8ff);
}

.btn-container {
  max-height: 62px;
  display: inline-block;
  padding: 3px;
  border-radius: 70px;
  background-image: linear-gradient(65deg, #b8e3ff, #2a5cff);
  box-shadow: 0 24px 34px 0 rgba(74, 58, 255, 0.05),
    0 9px 24px 0 rgba(0, 0, 0, 0.45);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.btn-container:hover {
  -webkit-transform: scale3d(0.94, 0.94, 1.01);
  transform: scale3d(0.94, 0.94, 1.01);
}

.btn-custom {
  max-height: 58px;
  padding: 15px 40px;
  border-radius: 70px;
  background-color: #070c29;
  -webkit-transition-property: none;
  transition-property: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.btn-custom:hover {
  color: #fff !important;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.site-header {
  display: table;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.site-header__body {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: left;
}

.site-header__body h1 {
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.site-header__body p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

/* About Section */
#site-about {
  margin-top: 150px;
  margin-bottom: 200px;
}

.site-about__list {
  list-style: none;
}

.site-about__list li {
  font-size: 20;
  color: #fff;
  margin: 0;
	padding: 15px 0 15px 26px;
	background-image: url("../img/list-dot.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 12px;
}

.site-about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

/* Gallery/music Section */
#site-music {
  margin-top: 200px;
  margin-bottom: 200px;
  height: 100%;
}

.site-music__header {
  margin-bottom: 50px;
}

.site-music__audio-header {
  height: 75px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.site-music__audio-header h3 {
  font-size: 30;
}

.site-music__audio-player-container {
  padding: 3px;
  border-radius: 50px;
  background-image: linear-gradient(130deg, #b8e3ff, #2a5cff);
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  min-height: 400px;
  max-height: 600px;
  margin: auto;
  max-width: 65vw;
}

.site-music__audio-player-container:hover {
  -webkit-transform: scale3d(1.03, 1.03, 1.01);
  transform: scale3d(1.03, 1.03, 1.01);;
}

.site-music__audio-player {
  background-color: #070c29;
  padding: 24px;
  border-radius: 50px;
  margin: auto;
  color: #fff;
  transition: background-color 1s;
}

.site-music__audio-player-active {
  transition: background-color 1s;
  background-color: transparent;
  max-width: 350px;
  padding: 24px;
  border-radius: 50px;
  margin: auto;
  color: #fff;
}

.site-music__image-container {
  padding: 3px;
  border-radius: 50px;
  background-image: linear-gradient(130deg, #a8d4ff, #5282ff);
  margin: 2px 10px 25px 10px;
  height: 330px;
}

.site-music__image {
  border-radius: 50px;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-music__track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.site-music__title {
  font-weight: 700;
  font-size: 24;
  margin-bottom: 15px;
}

.site-music__album {
  font-weight: 400;
  font-size: 16;
  margin-bottom: 20px;
  color: var(--blue-grey);
}

.site-music__audio-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
}

.site-music__audio-controls:focus {
  border: none;
}

.site-music__audio-controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.site-music__progress {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.site-music__progress::-webkit-slider-thumb {
  height: 12px;
  -webkit-appearance: none;
  width: 12px;
  border-radius: 8px;
  cursor: pointer;
  background: #94bbd4;
}

#site-music > .container > .btn-container {
  margin-top: 40px;
}

/* Contact Section */
#site-contact {
  padding: 100px 0 60px;
  color: rgba(255, 255, 255, 0.75);
}

label {
  font-size: 12px;
  font-weight: 400;
  float: left;
}

.site-contact__form-container {
  min-height: 600px;
  padding: 3px;
  border-radius: 50px;
  background-image: linear-gradient(65deg, #b8e3ff, #2a5cff);
}

.site-contact__form {
  min-height: 640px;
  padding: 40px 44px;
  margin: 0;
  border-radius: 50px;
  background-color: #070c29;
}

.site-contact__form-input {
  display: block;
  height: 82px;
  width: 100%;
  padding: 15px 26px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.42857143;
  color: var(--blue-grey);
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 100px;
  background-color: hsla(0, 0%, 100%, 0.06);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: color 350ms ease, background-color 350ms ease;;
}

.site-contact__form-input:hover {
  background-color: hsla(0, 0%, 100%, 0.14);
}

input:focus, textarea:focus {
  outline: none;
}

.site-contact__form-text-area {
  width: 100%;
  min-height: 176px;
  margin-top: 12px;
  margin-bottom: 18px;
  padding: 24px 24px 16px;
  border: 0px solid #000;
  border-radius: 24px;
  resize: none;
  background-color: hsla(0, 0%, 100%, 0.06);
  -webkit-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
  font-size: 20px;
}

.site-contact__form-text-area:hover {
  background-color: hsla(0, 0%, 100%, 0.14);
}

input::placeholder, textarea::placeholder {
  color: var(--blue-grey);
}

/* Footer Section*/
footer {
  padding-bottom: 40px;
}

footer p {
  color: #888;
  font-size: 14px;
}
footer a {
  color: #fff;
}

.site-footer__social {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.site-footer__social i {
  width: 30px;
  height: auto;
  color: #6e80cf;
  transition: all 0.3s;
}
.site-footer__social i:hover {
  width: 30px;
  height: auto;
  color: #afbbf0;
}

/* ABOUT PAGE */

#about-header {
  padding-top: 10vh;
}

#about-header h4 {
  color: var(--blue-grey);
  font-weight: 400;
}

/* MUSIC PAGE */
#music-header {
  padding-top: 10vh;
}

#music__playlist .container .row {
  padding-left: 20px; 
  padding-right: 20px;
}

.music__playlist-row {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding-top: 10px;
  padding-bottom: 30px;
}

.music__playlist-container {
  padding: 3px;
  border-radius: 50px;
  background-image: linear-gradient(130deg, #b8e3ff, #2a5cff);
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  width: 336px;
}

.music__playlist-container:hover {
  -webkit-transform: scale3d(1.03, 1.03, 1.01);
  transform: scale3d(1.03, 1.03, 1.01);;
}

.music__playlist-div {
  background-color: #070c29;
  padding: 24px;
  border-radius: 50px;
  margin: auto;
  min-height: 390px;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
  transition: background-color 1s;
  width: 330px;
}

.music__playlist-div h3 {
  font-size: 26px;
}

.music__playlist-div p {
  font-size: 18px;
}

.music__playlist-tracks {
  background-color: rgba(39, 51, 87, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  height: 230px;
  margin-bottom: 15px;
}

.music__audio-player {
  padding: 8px 12px 0 2px;
  background-color: transparent;
  transition: all 0.8s;
}

.music__audio-player-active {
  transition: all 0.8s;
  background-color: var(--blue-med);
  padding: 8px 12px 0 2px;
  color: #fff;
}

.music__image-container {
  padding: 3px;
  border-radius: 50px;
  background-image: linear-gradient(130deg, #a8d4ff, #5282ff);
  margin: 2px 10px 25px 10px;
  height: 330px;
}

.music__image {
  border-radius: 50px;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music__track {
  z-index: 1;
  position: relative;
}

.music__track hr {
  margin: 10px 0 0 0;
}

.music__title {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
}

.music__title h4 {
  font-weight: 400;
  font-size: 18;
  margin-bottom: 8px;
  margin-left: 10px;
}

.music__album {
  font-weight: 400;
  font-size: 16;
  margin-bottom: 20px;
  color: var(--blue-grey);
}

.music__audio-controls {
  display: flex;
  justify-content: space-between;
}

.music__audio-controls:focus {
  border: none;
}

.music__audio-controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.music__play {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.music__progress {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 8px;
}

.music__progress::-webkit-slider-thumb {
  height: 12px;
  -webkit-appearance: none;
  width: 12px;
  border-radius: 8px;
  cursor: pointer;
  background: #94bbd4;
}

#site-music > .container > .btn-container {
  margin-top: 40px;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}
